.currency-icon{
    height: 1rem;
}

.product-img {
    object-fit: cover;
}

.product-card {
    width: 330px;
    margin: 15px;
}


@media (min-width: 576px) {
    .product-card {
        width: 400px;
    }
}
