#checkout {
    max-width: 900px;
    margin: 15px auto;
    padding: 20px 30px 25px 30px;
    background-color: rgba(255, 255, 255, 0.8);

    border-radius: 50px;
    border: 1px solid rgb(209, 209, 209);
}

#checkout form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkout li {
    list-style-type: disc;
}

.form-group {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 2%;

    margin-bottom: 15px;
}

.form-group input {
    width: 320px;
}

#checkout button {
    margin-top: 10px;
}

.compra-realizada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compra-realizada img {
    height: 185px;
    margin: 20px 0 20px 30px;
}