#checkout {
    max-width: 900px;
    margin: auto;
    padding: 35px 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#checkout form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkout li {
    list-style-type: disc;
}

.form-group {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 2%;

    margin-bottom: 15px;
}

.form-group input {
    width: 320px;
}

#checkout button {
    margin-top: 10px;
};