header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;

    position: sticky;
    top: 0;
    z-index: 9;
    
    width: 100vw;
    background-color: rgb(253, 215, 215);
    padding: 0 2.5%;
}

.cover-width{
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo h1{
    font-size: 1.5rem;
	font-weight: bold;
    white-space: nowrap;
}

.logo img{
    display: inline-block;
    margin-left: 5px;
    height: 45px;
}

/*li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}*/

.navbar {
    flex: 1;
}

.navbar-categoria {
    text-align: left;
    font-size: 1.1rem;
}

.background-color{
    background-color: rgb(253, 215, 215);
}

.offcanvas-size{
    width: max-content !important;
    padding: 0 10px;
}


@media (min-width: 576px) {
    .logo h1{
        font-size: 1.6rem;
    }
    
    .logo img{
        margin-left: 12px;
        height: 60px;
    }
}