.carrito-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-item-descripcion {
    flex: 1;
}

.carrito-item-cantidad {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carrito-item-eliminar img {
    height: 35px;
}