@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#root{
  width: 100%;
}

.link {
  color: black;
}

.link:hover {
  color: black;
  opacity: 0.7;
}

h1{
  font-family: 'Pacifico', cursive;
}
