/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

.link {
  color: black;
}

.link:hover {
  color: black;
  opacity: 0.7;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3.2em;
  font-weight: normal;
}

h2 {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 2.5rem;
}

.precio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-icon{
  height: 1em;
}

/* BOTONES */
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  border: 1px rgb(173, 173, 173) solid;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: black;
  background-color: rgb(211, 201, 212);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-alt {
  background-color: #0d6efd;
  color: #fff;
  font-weight: normal;
}
.button-alt:hover{
  background-color: #0b5ed7;
  border-color: #0a58ca;
}